canvas {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    display: block;
}

#output-text-div {
    font-family: monospace;
    font-size: 15pt;
}